[build]
command = "npm run build:client"
publish = "client/dist/spa"

[functions]
directory = "client/netlify/functions"
external_node_modules = ["express"]
node_bundler = "esbuild"

[[redirects]]
from = "/api/*"
to = "/.netlify/functions/api/:splat"
status = 200
force = true
